html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Verdana', 'Open Sans', sans-serif;
  background-color: #dedede;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}